<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBindingConfiguration" closeTimeout="01:00:00"
              openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00"
              maxReceivedMessageSize="9223372036854775807" transferMode="StreamedResponse">
                <readerQuotas maxArrayLength="50000000" />
                <security mode="None">
                  <transport realm="" />
                </security>
              </binding>
              <binding name="BasicHttpBinding_ISCMenuSvc" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                messageEncoding="Text">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None"
                    realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
              
                <binding name="BasicHttpBinding_ISCStartUpSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2301/SIMARCBack/SCMenuSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCMenuSvc"
                contract="SCMenuSvcRef.ISCMenuSvc" name="BasicHttpBinding_ISCMenuSvc" />
            <endpoint address="http://localhost:2301/SIMARCBack/SCStartUpSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCStartUpSvc"
                contract="SCStartUpSvcRef.ISCStartUpSvc" name="BasicHttpBinding_ISCStartUpSvc" />
				
        </client>
    </system.serviceModel>
</configuration>