<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISCMenuSvc" />
                <binding name="BasicHttpBinding_ISCStartUpSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:42007/SIMARCBack/SCMenuSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCMenuSvc"
                contract="SCMenuSvcRef.ISCMenuSvc" name="BasicHttpBinding_ISCMenuSvc" />
            <endpoint address="http://localhost:42007/SIMARCBack/SCStartUpSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCStartUpSvc"
                contract="SCStartUpSvcRef.ISCStartUpSvc" name="BasicHttpBinding_ISCStartUpSvc" />
				
        </client>
    </system.serviceModel>
</configuration>