<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SC_ConnectionString" connectionString="server=simarc.southeastasia.cloudapp.azure.com,1433;Database=SIMARC;User=sa;Password=simarc#123;Persist Security Info=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Runtime.Serialization"/>
        <add namespace="System.ServiceModel"/>
        <add namespace="System.ServiceModel.Web"/>
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding transferMode="StreamedResponse" maxReceivedMessageSize="9223372036854775807" sendTimeout="00:20:00" receiveTimeout="00:20:00">
          <readerQuotas maxArrayLength="50000000"/>
          <security mode="None"/>
        </binding>
        <binding name="BasicHttpBindingConfiguration" closeTimeout="01:00:00" openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00" maxReceivedMessageSize="9223372036854775807" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="50000000"/>
          <security mode="None">
            <transport realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="50000000" messageEncoding="Mtom" sendTimeout="00:20:00" receiveTimeout="00:20:00">
          <readerQuotas maxArrayLength="50000000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentSessions="10" maxConcurrentInstances="10"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <httpProtocol allowKeepAlive="true"/>
  </system.webServer>
</configuration>