<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISYS0501Svc" />
                <binding name="BasicHttpBinding_ISYS0500Svc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:42007/SIMARCBack/SYS0501Svc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISYS0501Svc"
                contract="SYS0501SvcRef.ISYS0501Svc" name="BasicHttpBinding_ISYS0501Svc" />
            <endpoint address="http://localhost:42007/SIMARCBack/SYS0500Svc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISYS0500Svc"
                contract="SYS0500SvcRef.ISYS0500Svc" name="BasicHttpBinding_ISYS0500Svc" />
        </client>
    </system.serviceModel>
</configuration>
